{
  "extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "coverage",
    "dist",
    "**/*.d.ts",
    "**/*-test.ts"
  ],
  "reporter": [
    "html",
    "text",
    "lcovonly"
  ],
  "all": true
}
